<template>
    <table class="w-full">
        <thead>
            <tr class="text-xs">
                <th class="pb-4 font-normal text-left">
                Campaign Name
                </th>
                <th class="pb-4 font-normal">
                DID
                </th>
                <th class="pb-4 font-normal">
                Active
                </th>
                <th class="pb-4 font-normal">
                Commands
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-blueGray-100">
                <td class="px-6 py-4 text-xs font-semibold">
                    Official trial - from [ Auto Insurance Standard FF 1274 ] down to [ Medicare Supp Vetting FF 979 ] , [ Lift Chair Vetting FF 1304 ] [ Bathroom remodel Division (K) FF 1031 ]
                </td>
                <td class="px-6 py-4">
                    8669824063
                </td>
                <td class="px-6 py-4">
                    <i class="far fa-check-square text-green-500"></i>
                </td>
                <td class="px-6 py-4">
                <a class="btn btn-primary" href="#">Show</a>
                </td>
            </tr>
            <tr class="bg-blueGray-100">
                <td class="px-6 py-4 text-xs font-semibold">
                    Developer Test Campaign
                </td>
                <td class="px-6 py-4">
                    8885551234
                </td>
                <td class="px-6 py-4">
                <i class="far fa-check-square text-green-500"></i>
                </td>
                <td class="px-6 py-4">
                <a class="btn btn-primary" href="#">Show</a>
                </td>
            </tr>
            <tr class="bg-blueGray-100">
                <td class="px-6 py-4 text-xs font-semibold">
                    Roberto's Test Campaign
                </td>
                <td class="px-6 py-4">
                    8004569876
                </td>
                <td class="px-6 py-4">
                <i class="far fa-check-square text-green-500"></i>
                </td>
                <td class="px-6 py-4">
                <a class="btn btn-primary" href="#">Show</a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
  name: 'Table'
}
</script>
