@tailwind base;

@tailwind components;

@tailwind utilities;

.badge-primary {
  @apply inline-block py-1 px-3 text-xs text-blue-600 bg-blue-100 font-semibold uppercase rounded-full;
}

.badge-info {
  @apply inline-block py-1 px-3 text-xs text-green-600 bg-green-100 font-semibold uppercase rounded-full;
}

.form-label {
  @apply text-gray-700;
}

.form-text-input {
  @apply mt-1 w-full rounded-sm bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0;
}

.form-error {
  @apply text-sm text-red-300;
}

.form-checkbox {
  @apply rounded bg-gray-200 border-transparent focus:border-transparent focus:bg-gray-200 text-gray-700 focus:ring-1 focus:ring-offset-2 focus:ring-gray-500;
}

.form-select {
  @apply block w-full mt-1 rounded-sm bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0;
}

.btn { 
  @apply inline-block px-4 py-3 text-xs font-semibold leading-none rounded;
}

.btn-sm { 
  @apply inline-block px-3 py-1 text-xs font-semibold leading-none rounded;
}

.btn-primary {
  @apply  bg-blue-600 hover:bg-blue-700 text-white;
}

.btn-info {
  @apply bg-gray-600 hover:bg-gray-700 text-white;
}

.btn-danger {
  @apply bg-red-600 hover:bg-red-700 text-white;
}


.invalid-feedback {
  @apply m-0 mt-2 text-sm text-red-700;
}


.call-in-progress { 
 @apply inline-block py-1 px-3 text-xs text-green-600 bg-green-100 font-semibold uppercase rounded-full;
}

.call-ended { 
  @apply inline-block py-1 px-3 text-xs text-blue-600 bg-blue-100 font-semibold uppercase rounded-full;
}